<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<h2>Edit Asset</h2>

<form method="POST">

    <input type="text"
           name="asset_name"
           value="{{ asset.asset_name }}"
           required>

    <input type="number"
           name="quantity"
           value="{{ asset.quantity }}"
           required>

    <input type="text"
           name="classroom"
           value="{{ asset.classroom }}"
           required>

    <button type="submit">Update Asset</button>

</form>